<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>IoT Holidat Lights</title>
        <style type="text/css">
            .style1
            {
                width: 50%;
            }
        </style>


		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script language="javascript" type="text/javascript">
            function Button_onclick(action_onn) {
                $.ajax({ url: '/' + "onn/" + action_onn });
            }
        </script>
    </head>
    <body>


 <center>
					<img src="https://www.nyip.edu/images/cms/photo-articles/holiday-lights3.jpg"/>

					         <address>
Written by <a href="mailto:iayanpahwa@gmail.com">Ayan Pahwa</a>.
</address>
</center>




	<table align="left" class=style1">
		<tr>
                <td colspan="1" style="text-align: center">
                    <input id="StyleA-onn" type="button" value="A_onn" onclick="Button_onclick('A')" />
                </td>
            </tr>
            <tr>
		<td colspan="1" style="text-align: center">
                    <input id="StyleB-onn" type="button" value="B_onn" onclick="Button_onclick('B')" />
                </td>
	    </tr>
	</table>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script language="javascript" type="text/javascript">
            function Button_onclick1(action_off) {
                $.ajax({ url: '/' + "off/" + action_off });
            }
        </script>
    </head>
    <body>


        <table align="right" class=style1">
                <tr>
                <td colspan="1" style="text-align: center">
                    <input id="StyleA-off" type="button" value="A_off" onclick="Button_onclick1('A')" />
                </td>
            </tr>
            <tr>
                <td colspan="1" style="text-align: center">
                    <input id="StyleB-off" type="button" value="B_off" onclick="Button_onclick1('B')" />
                </td>
            </tr>

        </table>

	</body>
</html>
